<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>69935791112-89cdctlumqm5jlpl0p14fhupsi57pkva.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.69935791112-89cdctlumqm5jlpl0p14fhupsi57pkva</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>69935791112-3hhd3ku3bbmaqs3kqu1sq1imnfm7tu7r.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDpIXyB1jtva5fQQZbzIWVNFoKx6czwabw</string>
	<key>GCM_SENDER_ID</key>
	<string>69935791112</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.laxaar.arivaa.basic</string>
	<key>PROJECT_ID</key>
	<string>expo-app-5102b</string>
	<key>STORAGE_BUCKET</key>
	<string>expo-app-5102b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:69935791112:ios:f30eb1780c2916fadea5bd</string>
	<key>DATABASE_URL</key>
	<string>https://expo-app-5102b.firebaseio.com</string>
</dict>
</plist>